<h1><%= @mission.name %></h1>

    <h3>
    Scientist: <%= @mission.scientist.name %> <br>
    Planets: <%= @mission.planet.name%> <br>
    </h3>
    <br>
    <%= link_to "Back to Missions", missions_path %>


